<header>
    <div [ngClass]="{'scrolled': isScrolled}" class="container">
        <a href="#" routerLink="/" class="logo">
            <img src="assets/images/NavLogo.png" alt="logo"> <!-- Corrected path -->
            
        </a>
        <nav>
            <div class="nav">
                <ul>
                    <li><a href="#" routerLink="/">Home</a></li>
                    <li><a href="#" routerLink="/">About Us</a></li>
                    <li><a href="#" routerLink="/">Services</a></li>
                    <li><a href="#" routerLink="/">Contact Us</a></li>
                </ul>
            </div>
        </nav>
        <a href="#" routerLink="/"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
</header>