<header>
    <div [ngClass]="{'scrolled': isScrolled}" class="container">
        <a href="#" routerLink="/" class="logo">
            <img src="assets/images/NavLogo.png" alt="logo">
        </a>
        <nav>
            <div class="nav">
                <ul>
                    <li><a href="#" routerLink="/">Home</a></li>
                    <li><a href="#" routerLink="/">About Us</a></li>
                    <li><a href="#" routerLink="/">Services</a></li>
                    <li><a href="#" routerLink="/">Contact Us</a></li>
                </ul>
            </div>
        </nav>
        <a href="#" routerLink="/"><i class="fa-solid fa-magnifying-glass"></i></a>
        <button class="signup-btn" (click)="openSignupModal()">Sign Up</button>
    </div>
</header>

<!-- Signup Modal -->
<div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
        <span class="close" (click)="closeSignupModal()">&times;</span>
        <h2>Sign Up</h2>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Submit</button>
        </form>
    </div>
</div>