<footer class="footer">
    <div class="container">
        <div class="footer-section">
            <h3>Flex-IT</h3>
            <p>A HI-TECH INDUSTRY PRIVATE LIMITED IT Solutions, our mission is to deliver cutting-edge IT solutions and
                services that enable businesses to thrive in the digital age.</p>
        </div>
        <div class="footer-section">
            <h3>Useful Links</h3>
            <ul>
                <li><i class="bi bi-arrow-right"></i><a href="https://www.google.com">Google</a></li>
                <li><i class="bi bi-arrow-right"></i><a href="https://www.dribbble.com">Dribbble</a></li>
                <li><i class="bi bi-arrow-right"></i><a href="https://www.linkedin.com">LinkedIn</a></li>
                <li><i class="bi bi-arrow-right"></i><a href="https://www.wikipedia.org">Wikipedia</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Resources</h3>
            <ul>
                <li><i class="bi bi-arrow-right"></i><a href="#">Support</a></li>
                <li><i class="bi bi-arrow-right"></i><a href="#">Dashboard</a></li>
                <li><i class="bi bi-arrow-right"></i><a href="#">Drives</a></li>
                <li><i class="bi bi-arrow-right"></i><a href="#">Projects</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contact Information</h3>
            <p>Email: <a href="mailto:sales@hitecgroups.com">sales hitecgroups.com</a></p>
            <p>Email: <a href="mailto:hr@hitecgroups.com">hr hitecgroups.com</a></p>
            <p>Phone: <a href="tel:+919999999999">+91 9999999999</a></p>
            <p>Phone: <a href="tel:+919144444120">+91 9144444120</a></p>
            <p>Address: 1/1 HITECSTREET LANE, INDIA</p>

            <div class="icons">
                <span><i class="fa-brands fa-facebook"></i></span>
                <span><i class="fa-brands fa-instagram"></i></span>
                <span><i class="fa-brands fa-square-x-twitter"></i></span>
                <span><i class="fa-brands fa-linkedin"></i></span>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>ISO 9001:2015 Certified & ISO 14001:2015 Certified</p>
        <p><a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></p>
    </div>
</footer>