<div class="about">
    <div class="container">
        <div class="head">
            <h3>ABOUT US.</h3>
            <p>Founded with a vision to empower businesses through innovative solutions, HMRC Pvt Ltd is a leader in IT services,
            financial consulting, Tender consultancy, and cybersecurity. With ISO 9001 & 27001 certifications, we are dedicated to
            maintaining the highest standards of quality and security across all our services.  </p>
        </div>
        <div class="allmain">
            <div class="main">
                <div *ngFor="let card of cards" class="card">
                    <h1><i class="{{card.icon}}"></i> {{ card.title }}</h1>
                    <p>{{ card.description }}</p>
                </div>
            </div>
            <div class="img">
                <img src="assets/images/aboutImg.png" alt="img">
            </div>
        </div>
    </div>
</div>