<div class="container">
    <div class="head">
        <h3>ABOUT US.</h3>
        <h1><span>Who we are?</span></h1>
        <p>We are a dynamic and innovative IT company dedicated to providing cutting-edge solutions to our clients. With
            a passion
            for technology and a commitment to excellence, we strive to deliver exceptional results that drive business
            growth and
            success.</p>
    </div>
    <div class="allmain">
        <div class="main">
            <div *ngFor="let card of cards" class="card">
                <h1><i class="{{card.icon}}"></i>  {{ card.title }}</h1>
                <p>{{ card.description }}</p>
            </div>
        </div>
        <div class="img">
            <img src="assets/images/aboutImg.png" alt="img">
        </div>
    </div>
</div>