<div class="main-content1">
    <div class="text"  [class.animate]="isInView">
        <h1>innovation Solution for better Tomorrow</h1>
        <h4>Starting now</h4>
        <div class="butt">
            <button id="one">Get Started</button>
            <button id="two"><i class="fa-regular fa-circle-play"></i></button>
        </div>    
    
    </div>
    <div class="immg" [class.animate]="isInView">
    <img src="assets/images/mainWindoImg-removebg-preview.png" alt=""
     class="moving-image"
                (mousemove)="onMouseMove($event)" 
    >
    </div>
</div>




<div class="main-content">
    <div class="container">
        <div class="mainText" [class.animate]="isInView">
            <!-- <h4>One Vision, Four Pillars of Excellence: Innovating Tomorrow, Securing Today in IT, Finance, Consultancy, and
            Cybersecurity.</h4> -->
            <h3>-> IT solutions</h3>
            <h1>Providing the best services & IT <span>Solution</span></h1>
            <p>HMRC Pvt Ltd is a leading provider of comprehensive IT, financial, Tender consultancy, and cybersecurity services. With
            a focus on innovation and excellence, we empower businesses across diverse industries to thrive in a fast-evolving
            digital landscape. As an official Odoo partner in India and proudly ISO Certified (9001 & 27001), we are committed to
            delivering cutting-edge solutions with a focus on quality, security, and customer satisfaction. Our expertise spans from
            IT services like Odoo integration, SEO, and website development to financial brokerage, consultancy, and cybersecurity
            audits. At HMRC, we stand as your trusted partner, driving sustainable growth and success.
</p>
            <!-- <button id="btn-hero">Start Now</button> -->
        </div>
        <div class="img" [class.animate]="isInView">
            <img src="assets/images/hero-bg.png" alt="img" alt="Your Image" class="moving-image"
                (mousemove)="onMouseMove($event)" />
        </div>
    </div>
</div>


<div class="miss">
    <div class="miss-img">
        <img src="assets/images/mission.png" alt="">
    </div>
    <div class="m-text">
        <h3>-> Mission Statement</h3>
        <h1>To be a trusted partner for our clients is <span>our family.</span></h1>
        <p> guiding them through the ever-evolving landscape of IT, finance,
        consultancy, and cybersecurity with unwavering integrity, deep expertise, and a commitment to exceptional customer
        service. We aim to empower businesses by delivering customized solutions that drive growth, enhance efficiency, and
        ensure long-term success.
</p>
    </div>
</div>


<div class="partner">
    <div class="par-img1">
        <img src="assets/images/odoo.png" alt="">
    </div>
    <div class="par-text">
        <h3>-> Our Partner</h3>
        <h1>Partnership with <span>Odoo & Meta</span></h1>
        <p>Through our partnership with Odoo and Meta, we provide streamlined solutions that integrate seamlessly into your operations.
        Whether you're managing your inventory, keeping track of customer relationships, or running an e-commerce platform, our
        collaboration with Odoo ensures that your business can grow with reliable, efficient software tools.</p>
    </div>
    <div class="par-img2">
        <img src="assets/images/meta.png" alt="">
    </div>
</div>



<div class="choose">
    <div class="ch-img">
        <img src="assets/images/choose.png" alt="">
    </div>
    <div class="ch-main-text">
            <div class="container">
                <div class="header">
                    <h3>-> why choose us</h3>
                    <h1>Why Our Customers Choose Working With Us</h1>
                </div>
                <div class="reason">
                    <h2>Latest Technologies</h2>
                    <p>By emphasizing your company's expertise in the latest technologies and its dedication to innovation, you
                        can instill confidence in potential customers and position your company as a leader in your field.</p>
                </div>
                <div class="reason">
                    <h2>Unique Solutions</h2>
                    <p>We boast a team of highly skilled professionals with years of experience in various domains of IT. From
                        web development to software engineering, mobile app development to IT consulting, our experts possess
                        the knowledge and expertise to tackle even the most complex projects.</p>
                </div>
                <div class="reason">
                    <h2>Powerful Strategies</h2>
                    <p>Quality is our top priority. We adhere to industry best practices and rigorous quality standards to
                        ensure that our solutions are of the highest quality. From the initial planning stages to the final
                        delivery, we maintain a relentless focus on quality to ensure that our clients receive nothing but the
                        best.</p>
                </div>
                <a href="#" class="get-in-touch">Get In Touch</a>
            </div>
    </div>
</div>




<div class="Data">
    <div class="card">
        <span><i class="fa-solid fa-road-circle-check"></i></span>
        <h1>30+</h1>
        <h2>Finished project</h2>
    </div>
    <div class="card">
        <span><i class="fa-solid fa-laptop-code"></i></span>
        <h1>23+</h1>
        <h2>Created jobs</h2>
    </div>
    <div class="card">
        <span><i class="fa-solid fa-heart-circle-check"></i></span>
        <h1>28+</h1>
        <h2>happy customers</h2>
    </div>
    <div class="card">
        <span><i class="fa-solid fa-brain"></i></span>
        <h1>4+</h1>
        <h2>years Of experience</h2>
    </div>
</div>