<div class="container">
    <div class="mainText" [class.animate]="isInView">
        <h3>IT solutions</h3>
        <h1>providing the best services & IT <span>Solution</span></h1>
        <p>Welcome to HMRC INDUSTRY PRIVATE LIMITED, where innovation meets excellence in the world of technology
            solutions. As
            a
            leading provider of cutting-edge IT services, we empower businesses of all sizes to thrive in the digital
            era. Our
            mission is to be a trusted partner for our clients, guiding them through the ever-evolving landscape of
            technology
            with
            integrity, expertise, and unparalleled customer service.</p>
        <button id="btn-hero">Start Now</button>
    </div>
    <div class="img" [class.animate]="isInView">
        <img src="assets/images/hero-bg.png" alt="img" alt="Your Image" class="moving-image"
            (mousemove)="onMouseMove($event)" />
    </div>


</div>
<div>
    <h3>Services</h3>
</div>